li a {
    color: green;
}
/* Set gmap height explicitly to define the size of the div element that contains the gmap */
#gmap {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.actual-body {
    padding: 15px;
}
.hidden-button {
    visibility: hidden;
}
.hidden-block {
    display: none;
}
#floating-panel {
    position: absolute;       
    top: 5px;
    left: 5px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: left;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
div.marker-window-landscape {
    height: 600;
    width: 800;
}
table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}
.form-inline {
    margin:5px 3px;
}
.form-control-inline-lg {
    min-width: 0;
    width: 600px;
    display: inline;
}
.form-control-inline-auto {
  min-width: 0;
  width: auto;
  display: inline;
}


/* https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_next_prev */
a.navigate {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #ffffff;
  color: black;
  font-size: 64pt;
}

a.navigate:hover {
  background-color: #ddd;
  color: black;
}


/* https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/ */
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
}
#drop-area.highlight {
    border-color: purple;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}