{% extends 'admin.html' %}

{% block body %}
<h4>Import photos into a new album</h4>

<div id="file-upload-selector" class="form-group">
    <h5>Select folder containing image files to import:</h5>
    <input type="file" name="multi-file-upload" id="multi-file-upload" aria-describedby="fileHelp"
        onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
    <small id="fileHelp" class="form-text text-muted">
        This will generate a preview of photos. You will then have the option to process and import these into a new album.</small>
</div>

<div id="album-create-form" class="hidden-block">
    <h5 id="album-create-label"></h5>
    <form action="/lockdownsf/admin/album_view/_/" method="POST">
        {% csrf_token %}
        <!-- <input type="hidden" id="image-count" name="image-count"> -->
        <input type="text" name="album-title" placeholder="new album title">
        <input type="submit" value="Create album">

        <table id="image-preview-table" class="table table-hover hidden-block">
            <thead>
                <tr><th scope="col"></th>
                    <th scope="col">photo</th>
                    <th scope="col">filename</th>
                    <th scope="col">mime type</th></tr>
            </thead>
        </table>

    </form>
</div>

    
{% endblock %}
        