{% extends 'manage.html' %}

{% block body %}

{% if album %}
<p></p>
<h4>Album: <a href="https://photos.google.com/lr/manage/{{ album.external_id }}" target="new">{{ album.name }}</a></h4>
<p><strong>External id:</strong> {{ album.external_id }}
<br/><strong>External resource:</strong> {{ album.external_resource }}</p>
<p></p>

{% if mapped_media_items %}
<h5>{{ mapped_media_items|length }} media items mapped to album:</h5>
<table class="table table-hover">
    <thead>
        <tr><th scope="col">Photo</th>
            <th scope="col">File name</th>
            <th scope="col">Description</th>
            <th scope="col">External id</th>
            <th scope="col">Mime type</th>
            <th scope="col">Date taken / imported / updated</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Labels</th>
            <th scope="col">OCR text</th></tr>
    </thead>
    <tbody>
    {% for photo in mapped_media_items %}
        <tr><th scope="row">
                <a href="/lockdownsf/manage/mediaitem_view/{{ photo.external_id }}/">
                    <img src="{{ photo.thumb_url }}" width="200"></a></th>
            <td>{{ photo.file_name }}</th>
            <td>{{ photo.description }}</th>    
            <td><a href="https://photos.google.com/lr/album/{{ album.external_id }}/photo/{{ photo.external_id }}" target="new">
                    {{ photo.external_id|truncatechars:20 }}</a></td>
            <td>{{ photo.mime_type }}</td>
            <td>{{ photo.dt_taken }}<br/>{{ photo.dt_inserted }}<br/>{{ photo.dt_updated }}</td>
            <td>{{ photo.width }} x {{ photo.height }}</td>
            <td>
            {% if photo.labels %}
                <ul>
                {% for label in photo.labels %}
                    <li>{{ label }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            </td>
            <td>{{ photo.extracted_text }}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if unmapped_media_items %}
<p>{{ unmapped_media_items|length }} media items uploaded but failed to map to album:</p>
<table class="table table-hover">
    <thead>
        <tr><th scope="col">photo</th>
            <th scope="col">filename</th>
            <th scope="col">id</th>
            <th scope="col">mime type</th>
            <th scope="col">date taken</th>
            <th scope="col">dimensions</th></tr>
    </thead>
    <tbody>
    {% for photo in unmapped_media_items %}
        <tr><th scope="row"><a href="https://photos.google.com/lr/album/{{ album.external_id }}/photo/{{ photo.external_id }}"><img src="{{ photo.thumb_url }}"></a></th>
            <td>{{ photo.file_name }}</th>
            <td>{{ photo.external_id }}</td>
            <td>{{ photo.mime_type }}</td>
            <td>{{ photo.dt_taken }}</td>
            <td>{{ photo.width }} x {{ photo.height }}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if failed_media_items %}
<p>{{ failed_media_items|length }} media items that failed to upload:</p>
<ul>
{% for failed_media_item in failed_media_items %}
    <il>{{ failed_media_item }}</il>    
{% endfor %}
</ul>
{% endif %}

{% else %}
<h4>No album found (TODO messaging)</h4>
{% endif %}
    
{% endblock %}
        