{% extends 'admin.html' %}

{% block body %}
<h4>Album mappings to Google Photos:</h4>

{% if albums %}
<ul>
    {% for album in albums %}
    <form action="/lockdownsf/admin/album_import/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="album-id" value="{{ album.id }}">
        <input type="submit" value="Preview">
    </form>
    <li>{{ album.title }} [{{ album.id }}]</li>
    {% endfor %}
</ul>
{% endif %}

<h5>Create new album:</h5>
<form action="/lockdownsf/admin/album_create/" method="POST">
    {% csrf_token %}
    <input type="text" name="album-title" placeholder="new album title">
    <input type="text" name="image-dir-path" placeholder="image source dir">
    <input type="submit" value="Create album">
</form>
    
{% endblock %}