{% extends 'manage.html' %}

{% block body %}

<h5>{{ total_differences }} difference(s) found</h5>

{% if total_differences %}
<h6>Differences don't <i>need</i> to be resolved, but the app may exhibit strange behavior if they are not.</h6>

<br/>

<table class="table table-hover">
    <thead>
        <tr><th scope="col"></th>
            <th scope="col">Google Photos API</th>
            <th scope="col">Photo-Facets DB</th></tr>
    </thead>
    <tbody>
    {% for album_field in album_differences %}
        {% if album_field == 'name' %}
        <tr><th scope="row">Name:</th>
            <td><form action="/lockdownsf/manage/TODO/" method="POST">
                <input type="hidden" name="album-external-id" value="{{ db_album.external_id }}">
                <input type="hidden" name="album-name" value="{{ gphotos_album.title }}">
                {{ gphotos_album.title }}<br/>
                <input type="submit" value="^ Use this">
            </td>
            <td><form action="/lockdownsf/manage/TODO/" method="POST">
                <input type="hidden" name="album-external-id" value="{{ db_album.external_id }}">
                <input type="hidden" name="album-name" value="{{ db_album.name }}">
                {{ db_album.name }}<br/>
                <input type="submit" value="^ Or use this">
            </td></tr>
        {% endif %}
    {% endfor %}
    {% for media_item_id, thumb_url in media_items_in_both.items %}
        <tr><th scope="row"><img src="{{ thumb_url }}"></th>
            <td colspan="2"><strong>PHOTO EXISTS IN BOTH</strong> Google Photos and Photo-Facets DB, but differences detected. <a href="/lockdownsf/manage/mediaitem_diff/{{ media_item_id }}/">Preview differences and sync...</a></td></tr>
    {% endfor %}
    {% for media_item in media_items_only_in_api %}
        <tr><th scope="row" rowspan="2">
                <a href="https://photos.google.com/lr/photo/{{ media_item.id }}" target="new"><img src="{{ media_item.baseUrl }}"></a></th>
            <td>Photo <strong>EXISTS</strong> in Google Photos</td>
            <td>Photo <strong>DOES NOT EXIST</strong> in DB</td></tr>
        <tr><td colspan="2">
                <form action="/lockdownsf/manage/album_import_existing_media/" method="POST">
                <input type="hidden" name="album-external-id" value="{{ db_album.external_id }}">
                <input type="hidden" name="media-item-external-id" value="{{ media_item.id }}">
                <input type="hidden" name="import-source" value="gphotos">
                Sync actions available:
                <ul>
                    <li>FULLY REMOVE PHOTO FROM ALBUM: <a href="https://photos.google.com/lr/photo/{{ media_item.id }}" target="new">Open photo in Google Photos</a> and manually delete it from library. 
                        Or open album <a href="https://photos.google.com/lr/album/{{ db_album.external_id }}" target="new">{{ db_album.name }}</a> in Google Photos</li> and manually remove it from album.
                    <li>RESTORE PHOTO TO ALBUM: Re-import photo (file name: {{ media_item.filename }}) into DB from desktop via the <a href="/lockdownsf/manage/album_import_select_media/">standard import page</a>.
                        If you re-import the same original image, it will be matched to the existing version in Google Photos (no duplicate will be created).</li>
                </ul>
                </form>
            </td></tr>
    {% endfor %}
    {% for media_item in media_items_only_in_db %}
        <tr><th scope="row" rowspan="2"><a href="/lockdownsf/manage/mediaitem_view/{{ media_item.external_id }}/">{{ media_item.file_name }}</a></th>
            <td>Photo <strong>DOES NOT EXIST</strong> in Google Photos</td>
            <td>Photo <strong>EXISTS</strong> in DB</td></tr>
        <tr><td colspan="2">
                <form action="/lockdownsf/manage/album_media_items_delete/" method="POST">
                <input type="hidden" name="album-external-id" value="{{ db_album.external_id }}">
                <input type="hidden" name="media-item-external-id" value="{{ media_item.external_id }}">
                Sync actions available:
                <ul>
                    <li>FULLY REMOVE PHOTO FROM ALBUM: Delete photo from DB via this button: <input type="submit" value="Delete from DB"></li>
                    <li>RESTORE PHOTO TO ALBUM: Your best bet is to use the "Delete from DB" button above, then re-import the photo (file name: {{ media_item.file_name }})
                        into DB and Google Photos from desktop via the <a href="/lockdownsf/manage/album_import_select_media/">standard import page</a>.</li>               
                </ul>
                </form>
            </td></tr>
    {% endfor %}
        <tr><td class="hidden-button" colspan="3">
            <input class="hidden-button" type="submit" value="Update"></td></tr>
    </tbody>
</table>

{% else %}
<h6>All Google Photos API and Photo-facets DB data is in sync!</h6>
{% endif %}

<h5>Back to album: <a href="/lockdownsf/manage/album_view/{{ db_album.external_id }}/">{{ db_album.name }}</a></h5>

{% endblock %}