{% extends 'manage.html' %}

{% block body %}

{% if album %}
<strong>Google photos id:</strong> <a href="https://photos.google.com/lr/album/{{ album.external_id }}" target="new">{{ album.external_id }}</a><br/>
<strong>Center latitude:</strong> {{ album.center_latitude}}<br/>
<strong>Center longitude:</strong> {{ album.center_longitude}}<br/>
<strong>Map zoom level:</strong> {{ album.map_zoom_level}}<br/>
<p>&nbsp;</p>

{% if mapped_media_items %}
<h5>{{ mapped_media_items|length }} media items mapped to album:</h5>
<form action="/lockdownsf/manage/album_media_items_delete/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="album-external-id" value="{{ album.external_id }}">
<table class="table table-hover">
    <thead>
        <tr><th scope="col"></th>
            <th scope="col">Photo</th>
            <th scope="col">File name</th>
            <th scope="col">Description</th>
            <th scope="col">Google photos id</th>
            <th scope="col">Mime type</th>
            <th scope="col"><nobr>Date taken /</nobr> <nobr>imported /</nobr> updated</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Tags</th>
            <th scope="col">OCR text</th></tr>
    </thead>
    <tbody>
    {% for photo in mapped_media_items %}
        <tr>
            <th scope="row">
                <input type="checkbox" name="media-item-external-ids" value="{{ photo.external_id }}"></th>
            <td><a href="/lockdownsf/manage/mediaitem_view/{{ photo.external_id }}/">
                    <img src="{{ photo.thumb_url }}" width="200"></a></td>
            <td>{{ photo.file_name }}</th>
            <td>{% if photo.description %} {{ photo.description }} {% endif %}</th>    
            <td><a href="https://photos.google.com/lr/album/{{ album.external_id }}/photo/{{ photo.external_id }}" target="new">
                    {{ photo.external_id|truncatechars:20 }}</a></td>
            <td>{{ photo.mime_type }}</td>
            <td>{{ photo.dt_taken }}<br/>{{ photo.dt_inserted }}<br/>{{ photo.dt_updated }}</td>
            <td>{{ photo.width }} x {{ photo.height }}</td>
            <td>
            {% for tag in photo.tags.all %}
                {{ tag.name }}<br/>
            {% endfor %}
            </td>
            <td>{% if photo.extracted_text_display %}<small>{{ photo.extracted_text_display|linebreaks|truncatechars:100 }}</small>{% endif %}</td></tr>
    {% endfor %}
    </tbody>
</table>
<input type="submit" value="DELETE SELECTED ITEMS">
</form>
{% endif %}

{% if unmapped_media_items %}
<p>{{ unmapped_media_items|length }} media items uploaded but failed to map to album:</p>
<table class="table table-hover">
    <thead>
        <tr><th scope="col">photo</th>
            <th scope="col">filename</th>
            <th scope="col">id</th>
            <th scope="col">mime type</th>
            <th scope="col">date taken</th>
            <th scope="col">dimensions</th></tr>
    </thead>
    <tbody>
    {% for photo in unmapped_media_items %}
        <tr><th scope="row"><a href="https://photos.google.com/lr/album/{{ album.external_id }}/photo/{{ photo.external_id }}"><img src="{{ photo.thumb_url }}"></a></th>
            <td>{{ photo.file_name }}</th>
            <td>{{ photo.external_id }}</td>
            <td>{{ photo.mime_type }}</td>
            <td>{{ photo.dt_taken }}</td>
            <td>{{ photo.width }} x {{ photo.height }}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if failed_media_items %}
<p>{{ failed_media_items|length }} media items that failed to upload:</p>
<ul>
{% for failed_media_item in failed_media_items %}
    <il>{{ failed_media_item }}</il>    
{% endfor %}
</ul>
{% endif %}

<form action="/lockdownsf/manage/album_delete/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="album-external-id" value="{{ album.external_id }}">
    <input type="submit" value="DELETE ALBUM">
</form>

{% else %}
<h4>No album found (TODO messaging)</h4>
{% endif %}


    
{% endblock %}
        