{% extends 'base.html' %}

{% block content %}
    <div id="floating-panel">
        <input onclick="hideAllMarkers();" type=button value="Hide All Markers">
        <br/><input onclick="displayAllMarkers();" type=button value="Dislay All Markers">
        <ul id="facet-list"></ul>
    </div>
    <div id="gmap"></div>
    
{% if all_neighborhoods %}
    <ul>
    {% for neighborhood in all_neighborhoods %}
        <li><a href="/lockdownsf/neighborhood/{{ neighborhood.slug }}">{{ neighborhood.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No neighborhoods found to link to.</p>
{% endif %}   
    
{% endblock %}
