{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <form class="form-inline my-2 my-lg-0" id="goto-album-form" action="/lockdownsf/manage/album_view/none/" method="POST">
            {% csrf_token %}
            <a class="navbar-brand" href="/lockdownsf/manage/album_listing/">Albums</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if template == 'album_select_new_photos.html' %} active {% endif %}">
                    <a class="nav-link" href="/lockdownsf/manage/album_select_new_photos/">Import</a>
                </li>
                <li class="nav-item {% if template == 'album_listing.html' %} active {% endif %}">
                    <a class="nav-link" href="/lockdownsf/manage/album_listing/">List</a>
                </li>
                <!-- <li class="nav-item {% if template == 'album_view.html' or template == 'album_diff.html' %} active {% endif %}"> -->
                <li class="nav-item {% if template == 'album_view.html' %} active {% endif %}">
                    <a class="nav-link">Edit</a>
                </li>
                <li class="nav-item nav-link">Lookup:</li>
            </ul>
            <select class="form-control" id="select-album" name="select-album" onchange="updateAlbumFormAction();">
                <option value="none">* album *</option>
            {% for album in all_albums %}
                <option value="{{ album.id }}">{{ album.name }}</option>
            {% endfor %} 
            </select>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Go</button>
        </form>
    </div>

    <a class="navbar-brand" href="/lockdownsf/manage/photo_search/">Photos</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/lockdownsf/manage/album_select_new_photos/">Import</a>
            </li>
            <li class="nav-item {% if template == 'photo_search.html' %} active {% endif %}">
                <a class="nav-link" href="/lockdownsf/manage/photo_search/">Search</a>
            </li>
            <!-- <li class="nav-item {% if template == 'photo_view.html' or template == 'photo_diff.html' %} active {% endif %}"> -->
            <li class="nav-item {% if template == 'photo_view.html' %} active {% endif %}">
                <a class="nav-link">Edit</a>
            </li>
        </ul>
    </div>

    <a class="navbar-brand" href="/lockdownsf/manage/tag_listing/">Tags</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if template == 'tag_listing.html' %} active {% endif %}">
                <a class="nav-link" href="/lockdownsf/manage/tag_listing/">Manage</a>
            </li>
        </ul>
    </div>

    <!-- <a class="navbar-brand">Login</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if template == 'tag_listing.html' %} active {% endif %}">
                <a class="nav-link" href="#" onclick="signOut();">Sign out</a>
            </li>
        </ul>
    </div> -->
</nav>

{% if page_title %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand" href="#">{{ page_title }}</span>
</nav>
{% endif %}


<div class="actual-body">
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    <!-- <a href="#" onclick="signOut();">Sign out</a> -->

{% if response_messages %}
    {% if response_messages.success %}
        {% for success_message in response_messages.success %}
        <div class="alert alert-success">
            <h5><strong>{{ success_message|safe }}</strong></h5>
            <!-- {% if success_detail %}
                <p>{{ success_detail|safe }}</p>
            {% endif %} -->
        </div>
        {% endfor %}
    {% endif %}


    {% if response_messages.warning %}
        {% for warning_message in response_messages.warning %}
        <div class="alert alert-warning">
            <h5><strong>{{ warning_message|safe }}</strong></h5>
            <!-- {% if warning_detail %}
                <p>{{ warning_detail|safe }}</p>
            {% endif %} -->
        </div>
        {% endfor %}
    {% endif %}

    {% if response_messages.error %}
        {% for error_message in response_messages.error %}
        <div class="alert alert-danger">
            <h5><strong>{{ error_message|safe }}</strong></h5>
            <!-- {% if error_detail %}
                <p>{{ error_detail|safe }}</p>
            {% endif %} -->
        </div>
        {% endfor %}
    {% endif %}
{% endif %}

{% block body %}
{% endblock %}
</div>

{% endblock %}