{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <form class="form-inline my-2 my-lg-0" id="goto-album-form" action="/lockdownsf/manage/album_view/none/" method="POST">
            {% csrf_token %}
            <a class="navbar-brand" href="/lockdownsf/manage/album_listing/">Albums</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if template == 'album_listing.html' %} active {% endif %}">
                    <a class="nav-link" href="/lockdownsf/manage/album_listing/">List</a>
                </li>
                <li class="nav-item {% if template == 'album_import.html' or template == 'album_view.html' %} active {% endif %}">
                    <a class="nav-link" href="/lockdownsf/manage/album_import/">Add/Edit</a>
                </li>
                <li class="nav-item nav-link">Lookup:</li>
            </ul>
            <select class="form-control" id="select-album" name="select-album" onchange="updateAlbumFormAction();">
                <option value="none">* album *</option>
            {% for album in all_albums %}
                <option value="{{ album.external_id }}">{{ album.name }}</option>
            {% endfor %} 
            </select>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Go</button>
        </form>
    </div>

    <a class="navbar-brand" href="/lockdownsf/manage/mediaitem_search/">Photos</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if template == 'mediaitem_search.html' %} active {% endif %}">
                <a class="nav-link" href="/lockdownsf/manage/mediaitem_search/">Search</a>
            </li>
            <li class="nav-item {% if template == 'mediaitem_view.html' %} active {% endif %}">
                <a class="nav-link">Edit</a>
            </li>
            
        </ul>
    </div>

    <a class="navbar-brand" href="/lockdownsf/manage/tag_listing/">Tags</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if template == 'tag_listing.html' %} active {% endif %}">
                <a class="nav-link" href="/lockdownsf/manage/tag_listing/">Manage</a>
            </li>
        </ul>
    </div>

    <a class="navbar-brand">Login</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if template == 'tag_listing.html' %} active {% endif %}">
                <a class="nav-link" href="#" onclick="signOut();">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

{% if page_title %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand" href="#">{{ page_title }}</span>
</nav>
{% endif %}


<div class="actual-body">
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    <!-- <a href="#" onclick="signOut();">Sign out</a> -->

{% if success_messages %}
{% for success_message in success_messages %}
<div class="alert alert-success">
    <h5><strong>{{ success_message|safe }}</strong></h5>
    {% if success_detail %}
        <p>{{ success_detail|safe }}</p>
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% if error_messages %}
{% for error_message in error_messages %}
<div class="alert alert-danger">
    <h5><strong>{{ error_message|safe }}</strong></h5>
    {% if error_detail %}
        <p>{{ error_detail|safe }}</p>
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% block body %}
{% endblock %}
</div>

{% endblock %}