{% extends 'manage.html' %}

{% block body %}

{% if mediaitem %}
<p></p>
<img src="{{ mediaitem.thumb_url }}"/>
<!-- <div id="miniGmap"></div> -->
<p></p>

<h4>Editable fields:</h4>
<form action="/lockdownsf/manage/mediaitem_edit/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="media-item-external-id" value="{{ mediaitem.external_id }}">
    <input type="hidden" id="update-description-flag" name="update-description-flag" value="">
    <input type="hidden" id="update-tags-flag" name="update-tags-flag" value="">
    <table class="table table-hover table-fit">
        <tr><th scope="row">Description:</th>
            <td id="description-display-cell">
                <div id="description-display" onclick="makeDescriptionEditable()">
                {% if mediaitem.description %}
                    {{ mediaitem.description }}
                {% else %}
                    [+]
                {% endif %}
                </div></td>
            <td id="description-input-cell" class="hidden-block">
                <input type="text" id="description-input" class="form-control" name="description" value="{{ mediaitem.description }}">
            </td>
        </tr>
        <tr><th scope="row">Tags:</th>
            <td id="tag-display-cell">
                <div id="tag-display" onclick="makeTagsEditable()">
                {% if mediaitem.tags.all %}
                    <ul>
                    {% for tag in mediaitem.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    [+]
                {% endif %}
                </div></td>
            <td id="tag-checkbox-cell" class="hidden-block">
                {% for tag in all_tags %}
                <div class="form-group custom-control custom-checkbox">
                    <input type="checkbox" id="tag-{{ tag.id }}" class="custom-control-input" name="tag_ids" value="{{ tag.id }}"
                    {% if tag in mediaitem.tags.all %} checked="" {% endif %}>
                    <label class="custom-control-label" for="tag-{{ tag.id }}">{{ tag.name }}</label>
                </div>
                {% endfor %} 
            </td>
        </tr>
        <tr><td id="submit-cell" class="hidden-block" colspan="2">
            <input id="submit-buttom" type="submit" value="Update" class="btn btn-secondary"></td></tr>
    </table>
</form>

<h4>Automagic fields:</h4>
<table class="table table-hover table-fit">
    <tbody>
        <tr><th scope="row">Google photos id:</th>
            <td><a href="https://photos.google.com/lr/album/{{ mediaitem.album.external_id }}/photo/{{ mediaitem.external_id }}" target="new">
                    {{ mediaitem.external_id }}</a></td></tr>
        <tr><th scope="row">File name:</th>
            <td>{{ mediaitem.file_name }}</td></tr>
        <tr><th scope="row">Album:</th>
            <!-- <td><a href="https://photos.google.com/lr/album/{{ mediaitem.album.external_id }}" target="new"> -->
            <td><a href="/lockdownsf/manage/album_view/{{ mediaitem.album.external_id }}/">
                    {{ mediaitem.album.name }}</a></td></tr>
        <tr><th scope="row">Date taken:</th>
            <td>{{ mediaitem.dt_taken }}</td></tr>
        <tr><th scope="row">Date added:</th>
            <td>{{ mediaitem.dt_inserted }}</td></tr>
        <tr><th scope="row">Date updated:</th>
            <td>{{ mediaitem.dt_updated }}</td></tr>
        <tr><th scope="row">File format:</th>
            <td>{{ mediaitem.mime_type }}</td></tr>
        <tr><th scope="row">Latitude:</th>
            <td>{{ mediaitem.latitude }}</td></tr>
        <tr><th scope="row">Longitude:</th>
            <td>{{ mediaitem.longitude }}</td></tr>
        <tr><th scope="row">Dimensions:</th>
            <td>{{ mediaitem.width }} x {{ mediaitem.height }}</td></tr>
        <tr><th scope="row">Status:</th>
            <td>{{ mediaitem.status }}</td></tr>
        <tr><th scope="row">Extracted text:</th>
            <form action="/lockdownsf/manage/extract_ocr_text/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="request-scope" value="media_item">
                <input type="hidden" name="external-id" value="{{ mediaitem.external_id }}">
                <td>
                    {% if mediaitem.extracted_text_display %}
                    <small>{{ mediaitem.extracted_text_display|linebreaks }}</small>
                    <input type="submit" value="Regenerate OCR text" class="btn btn-secondary">
                    {% else %}
                    <input type="submit" value="Extract OCR text" class="btn btn-secondary">
                    {% endif %}
                </td>
            </form>
        </tr>
    </tbody>
</table>


{% else %}
<div class="alert alert-warning">
    <h5>No mediaitem found matching external_id <strong>{{ mediaitem_external_id }}</strong></h5>
</div>
{% endif %}

{% if exception %}
<div class="alert alert-danger">
    <h5><strong>Exception:</strong> {{ exception }}</h5>
    <p>Data dump: {{ dump }}</p>
</div>
{% endif %}

{% endblock %}