{% extends 'manage.html' %}

{% block body %}

<h5>{{ fields_with_differences|length }} difference(s) found</h5>

{% if fields_with_differences %}
<h6>Differences don't <i>need</i> to be resolved, but the app may exhibit strange behavior if they are not.</h6>

<br/>

<table class="table table-hover">
    <thead>
        <tr><th scope="col"></th>
            <th scope="col">Google Photos API</th>
            <th scope="col">Photo-Facets DB</th></tr>
    </thead>
    <tbody>
    {% for field in fields_with_differences %}
        {% if field == 'description' %}
        <tr><th scope="row">Description:</th>
            <td><form action="/lockdownsf/manage/mediaitem_edit/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="media-item-external-id" value="{{ db_media_item.external_id }}">
                <input type="hidden" name="description" value="{{ gphotos_media_item.description }}">
                <input type="hidden" name="update-description-flag" value="true">
                {% if gphotos_media_item.description %} {{ gphotos_media_item.description }} {% endif %}<br/>
                <input type="submit" value="^ Use this">
                </form></td>
            <td><form action="/lockdownsf/manage/mediaitem_edit/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="media-item-external-id" value="{{ db_media_item.external_id }}">
                <input type="hidden" name="description" value="{{ db_media_item.description }}">
                <input type="hidden" name="update-description-flag" value="true">
                {% if db_media_item.description %} {{ db_media_item.description }} {% endif %}<br/>
                <input type="submit" value="^ Use this">
                </form></td></tr>
        {% endif %}
        {% if field == 'file_name' %}
        <tr><th scope="row">File name:</th>
            <td>{{ gphotos_media_item.filename }}</td>
            <td>{{ db_media_item.file_name }}</td></tr>
        {% endif %}
        {% if field == 'dt_taken' %}
        <tr><th scope="row">Date taken:</th>
            <td>{{ gphotos_media_item.creationTime }}</td>
            <td>{{ db_media_item.dt_taken }}</td></tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% else %}
<h6>All Google Photos API and Photo-facets DB data is in sync!</h6>
{% endif %}

<h5>Back to <a href="/lockdownsf/manage/mediaitem_view/{{ db_media_item.external_id }}/">photo page</a></h5>


{% endblock %}