{% extends 'admin.html' %}

{% block body %}

{% if exception %}
<div class="alert alert-danger">
    <h5><strong>Exception:</strong> {{ exception }}</h5>
    <p>Data dump: {{ dump }}</p>
</div>
{% endif %}

{% if unavailable_neighborhood_slug %}
<div class="alert alert-warning">
    <h5><strong>Warning:</strong> Neighborhood could not be added with slug <strong>{{ unavailable_neighborhood_slug }}</strong> since it already exists.</h5>
    <p>Edit existing neighborhood <a href="/lockdownsf/admin/edit_neighborhood/{{ unavailable_neighborhood_slug }}/">here</a>.</p>
</div>
{% endif %}

<h4>Add new neighborhood:</h4>

<form method="POST" action="/lockdownsf/admin/save_neighborhood/">
    {% csrf_token %}
    <input type="hidden" name="request-origin-template" value="neighborhood_add.html">
    <table class="table table-hover table-fit">
        <tbody>
            <tr class="table-fit"><th scope="row">Slug:</th>
                <td class="table-fit"><input type="text" name="neighborhood-slug"></td></tr>
            <tr class="table-fit"><th scope="row">Name:</th>
                <td class="table-fit"><input type="text" name="neighborhood-name" value="{{ neighborhood_name }}"></td></tr>
            <!-- <tr><th scope="row">Center latitude:</th>
                <td><input type="text" name="neighborhood-center-latitude" value="{{ neighborhood_center_latitude }}"></td></tr>
            <tr><th scope="row">Center longitude:</th>
                <td><input type="text" name="neighborhood-center-longitude" value="{{ neighborhood_center_longitude }}"></td></tr> -->
            <tr class="table-fit"><th scope="row"></th>
                <td class="table-fit"><input type="submit" class="btn btn-secondary my-2 my-sm-0" value="Create neighborhood"></td></tr>
        </tbody>
    </table>
</form>

{% endblock %}