{% extends 'admin.html' %}

{% block body %}

{% if exception %}
<div class="alert alert-danger">
    <h5><strong>Exception:</strong> {{ exception }}</h5>
    <p>Data dump: {{ dump }}</p>
</div>
{% endif %}

{% if neighborhood %}
<h4>Neighborhood page for {{ neighborhood.name }}</h4>
<table class="table table-hover table-fit">
    <tbody>
        <tr class="table-fit"><th scope="row">Slug:</th>
            <td class="table-fit">{{ neighborhood.slug }}</td></tr>
        <tr class="table-fit"><th scope="row">Name:</th>
            <td class="table-fit">{{ neighborhood.name }}</td></tr>
        <!-- <tr><th scope="row">Center latitude:</th>
            <td>{{ neighborhood.center_latitude }}</td></tr>
        <tr><th scope="row">Center longitude:</th>
            <td>{{ neighborhood.center_longitude }}</td></tr> -->
        <tr class="table-fit"><th scope="row">Date created:</th>
            <td class="table-fit">{{ neighborhood.dt_inserted }}</td></tr>
        <tr class="table-fit"><th scope="row">Date updated:</th>
            <td class="table-fit">{{ neighborhood.dt_updated }}</td></tr>
    </tbody>
</table>

{% if neighborhood_photos %}
<h4>Neighborhood photos</h4>
<table class="table table-hover table-fit">
    <thead>
        <tr><th scope="col">Photo</th>
            <th scope="col">UUID</th>
            <th scope="col">Source file</th></tr>
    </thead>
    <tbody>
    {% for photo in neighborhood_photos %}
        <tr><td><a href="https://lockdownsf.s3.amazonaws.com/large/{{ photo.uuid }}">
                <img src="https://lockdownsf.s3.amazonaws.com/small/{{ photo.uuid }}"></a></td>
            <td>{{ photo.uuid }}</td>
            <td>{{ photo.source_file_name }}</td></tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<h4>No photos for neighborhood.</h4>
{% endif %}  

{% else %}
<div class="alert alert-warning">
    <h5>No neighborhood found matching slug <strong>{{ neighborhood_slug }}</strong></h5>
</div>
{% endif %}

{% endblock %}