{% extends 'admin.html' %}

{% block body %}
<h4>Neighborhood listing:</h4>

{% if all_neighborhoods %}
<table class="table table-hover">
    <thead>
        <tr><th scope="col">Name</th>
            <th scope="col">Slug</th>
            <th scope="col">Photos</th>
            <th scope="col">Center latitude</th>
            <th scope="col">Center longitude</th></tr>
    </thead>
    <tbody>
    {% for neighborhood in all_neighborhoods %}
        <tr><th scope="row"><a href="/lockdownsf/admin/edit_neighborhood/{{ neighborhood.slug }}/">{{ neighborhood.name }}</a></th>
            <td>{{ neighborhood.slug }}</td>
            <td>{{ neighborhood.photo_count }}</td>
            <td>{{ neighborhood.center_latitude }}</td>
            <td>{{ neighborhood.center_longitude }}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}  

{% endblock %}