{% extends 'manage.html' %}

{% block body %}

<div class="row justify-content-center">
    <form class="form-inline my-2 my-lg-0" action="/lockdownsf/manage/photo_search/" method="GET">
        <strong>Album:</strong>&nbsp;
        <select class="form-control" id="search-album" name="search-album">
            <option value="">* album *</option>
        {% for album in all_albums %}
            <option value="{{ album.id }}" {% if search_criteria.search_album_id == album.id %} selected {% endif %}>{{ album.name }}</option>
        {% endfor %} 
        </select>
        &nbsp;&nbsp;&nbsp;<strong>Tags:</strong>&nbsp;
        <select class="form-control" id="search-tag" name="search-tag">
            <option value="">* tags *</option>
        {% for tag in all_tags %}
            <option value="{{ tag.name }}" {% if search_criteria.search_tag_name == tag.name %} selected {% endif %}>{{ tag.name }}</option>
        {% endfor %} 
        </select>
        &nbsp;&nbsp;&nbsp;<strong>Search text:</strong>&nbsp;
        <input type="text" class="form-control mr-sm-2" id="search-text" name="search-text" value="{{ search_criteria.search_text }}" placeholder="search text">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<br/><br/>

<h4>
{% if page_results %}
    {% if total_results_count > page_results|length %}    
        Showing results <strong>{{ page_results_start_index }}</strong> - <strong>{{ page_results_end_index }}</strong> of 
    {% endif %}
    <strong>{{ total_results_count }}</strong> photos
{% else %}
    No photos
{% endif %}
{% if search_criteria|length > 0 %}
    matching criteria: 
    {% if search_criteria.search_album_name %} Album [<strong>{{ search_criteria.search_album_name }}</strong>] {% endif %}
    {% if search_criteria.search_tag_name %} Tag [<strong>{{ search_criteria.search_tag_name }}</strong>] {% endif %}
    {% if search_criteria.search_text %} Search text [<strong>{{ search_criteria.search_text }}</strong>] {% endif %}
{% endif %}
</h4>

<br/><br/>

{% if page_results %} 

    {% if prev_page_number or next_page_number %}
    <div>
        <ul class="pagination">
            <!-- previous page -->
            {% if prev_page_number %}
            <li class="page-item">
                <a class="page-link" href="/lockdownsf/manage/photo_search?search-album={{ search_criteria.search_album_id }}&search-tag={{ search_criteria.search_tag_name }}&search-text={{ search_criteria.search_text }}&page-number={{ prev_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            {% endif %}
            <!-- numbered pages -->
            {% for i in page_count_iterator %}
            <li class="page-item {% if page_number == i %} active {% endif %}">
                <a class="page-link" href="/lockdownsf/manage/photo_search?search-album={{ search_criteria.search_album_id }}&search-tag={{ search_criteria.search_tag_name }}&search-text={{ search_criteria.search_text }}&page-number={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            <!-- next page -->
            {% if next_page_number %}
            <li class="page-item">
                <a class="page-link" href="/lockdownsf/manage/photo_search?search-album={{ search_criteria.search_album_id }}&search-tag={{ search_criteria.search_tag_name }}&search-text={{ search_criteria.search_text }}&page-number={{ next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

<table class="table table-hover">
    <thead>
        <tr><th scope="col">Photo</th>
            <th scope="col">Album</th>
            <th scope="col">File name</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">OCR text</th></tr>
    </thead>
    <tbody>
    {% for photo in page_results %}
        <tr><td><a href="/lockdownsf/manage/photo_view/{{ photo.id }}/">
            <img src="https://lockdownsf.s3.amazonaws.com/{{ photo.album.s3_dir }}/{{ photo.file_name }}" width="300"></a></td>
            <td><a href="/lockdownsf/manage/album_view/{{ photo.album.id }}/">
                    {{ photo.album.name }}</a></td>
            <td>{{ photo.file_name }}</td>   
            <td>{% if photo.description %} {{ photo.description }} {% endif %}</td>
            <td>
            {% for tag in photo.tags.all %}
                <span class="nobreak {% if tag.status == 'DISABLED' %} text-muted {% endif %}">{{ tag.name }}</span><br/>
            {% endfor %}
            </td>
            <td>{% if photo.extracted_text_display %}<small>{{ photo.extracted_text_display|linebreaks|truncatechars:100 }}</small>{% endif %}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}