{% extends 'admin.html' %}

{% block body %}

{% if photo %}
<h4>Photo {{ photo.uuid }} saved successfully.</h4>
<img src="https://lockdownsf.s3.amazonaws.com/medium/{{ photo.uuid }}"/>
<table class="table table-hover">
    <tbody>
        <tr><th scope="row">Sizes:</th>
            <td><a href="https://lockdownsf.s3.amazonaws.com/large/{{ photo.uuid }}">Large</a> | 
                <a href="https://lockdownsf.s3.amazonaws.com/medium/{{ photo.uuid }}">Medium</a> | 
                <a href="https://lockdownsf.s3.amazonaws.com/small/{{ photo.uuid }}">Small</a></td></tr>
        <tr><th scope="row">Source file name:</th>
            <td>{{ photo.source_file_name }}</td></tr>
        <tr><th scope="row">Photo uuid:</th>
            <td>{{ photo.uuid }}</td></tr>
        <tr><th scope="row">Date taken:</th>
            <td>{{ photo.dt_taken }}</td></tr>
        <tr><th scope="row">Neighborhood:</th>
            <td>{{ photo.neighborhood.name }}</td></tr>
        <tr><th scope="row">File format:</th>
            <td>{{ photo.file_format }}</td></tr>
        <tr><th scope="row">Latitude:</th>
            <td>{{ photo.latitude }}</td></tr>
        <tr><th scope="row">Longitude:</th>
            <td>{{ photo.longitude }}</td></tr>
        <tr><th scope="row">Dimensions:</th>
            <td>{{ photo.width_pixels }} x {{ photo.height_pixels }} ({{ photo.aspect_format }})</td></tr>
        <tr><th scope="row">Scene type:</th>
            <td>{{ photo.scene_type }}</td></tr>
        <tr><th scope="row">Business type:</th>
            <td>{{ photo.business_type }}</td></tr>
        <tr><th scope="row">Other labels:</th>
            <td>{{ photo.other_labels }}</td></tr>
        <tr><th scope="row">Extracted text:</th>
            <td>{{ photo.extracted_text_formatted|safe }}</td></tr>
        <tr><th scope="row"><a href="/lockdownsf/admin/edit_photo/{{ photo.uuid }}">Edit photo</a></th>
            <td></td></tr>
    </tbody>
</table>

{% else %}
<div class="alert alert-danger">
    <h5>Unable to save, no photo data was returned.</h5>
</div>
{% endif %}

{% if exception %}
<div class="alert alert-danger">
    <h5><strong>Exception:</strong> {{ exception }}</h5>
    <p>Data dump: {{ dump }}</p>
</div>
{% endif %}

{% endblock %}