{% extends 'base.html' %}

{% block content %}
{% if photo %}
<p>Photo {{ photo.uuid }} saved successfully.</p>
<p>
    <ul>
        <!-- <li><a href="{{ file_path }}">Original</a>:<br/>
            <img src="{{ file_path }}"/></li> -->
        <li><a href="{{ large_file_path }}">Large</a>:<br/>
            <img src="{{ large_file_path }}"/></li>
        <li><a href="{{ medium_file_path }}">Medium</a>:<br/>
            <img src="{{ medium_file_path }}"/></li>
        <li><a href="{{ small_file_path }}">Small</a>:<br/>
            <img src="{{ small_file_path }}"/></li>
        <li>Source file name: {{ source_file_name }}</li>
        <li>Photo uuid: {{ photo.uuid }}</li> 
        <li>Date taken: {{ photo.dt_taken }}</li>
        <li>Neighborhood: {{ photo.neighborhood.name }}</li>
        <li>File format: {{ photo.file_format }}</li>
        <li>Latitude: {{ photo.latitude }}</li>
        <li>Longitude: {{ photo.longitude }}</li>
        <li>Width: {{ photo.width_pixels }} px</li>
        <li>Height: {{ photo.height_pixels }} px</li>
        <li>Aspect format: {{ photo.aspect_format }}</li>
        <li>Scene type: {{ photo.scene_type }}</li>
        <li>Business type: {{ photo.business_type }}</li>
        <li>Other labels: {{ photo.other_types }}</li>
    </ul> 
</p>
{% else %}
<p>No photo data</p>
{% endif %}

{% if exception %}
<p><b>vars(request):</b></p>
<p>Exception: {{ exception }}</p>
<p>Data dump: {{ dump }}</p>
{% endif %}

{% endblock %}