{% extends 'admin.html' %}

{% block body %}

{% if photo %}
<h4>Photo {{ photo.uuid }} saved successfully.</h4>
<table class="table table-hover">
    <tbody>
        <tr><th scope="row"><a href="{{ large_file_path }}">Large</a>:</th>
            <td><img src="{{ large_file_path }}"/></td></tr>
        <tr><th scope="row"><a href="{{ medium_file_path }}">Medium</a>:</th>
            <td><img src="{{ medium_file_path }}"/></td></tr>
        <tr><th scope="row"><a href="{{ small_file_path }}">Small</a>:</th>
            <td><img src="{{ small_file_path }}"/></td></tr>
        <tr><th scope="row">Source file name:</th>
            <td>{{ source_file_name }}</td></tr>
        <tr><th scope="row">Photo uuid:</th>
            <td>{{ photo.uuid }}</td></tr>
        <tr><th scope="row">Date taken:</th>
            <td>{{ photo.dt_taken }}</td></tr>
        <tr><th scope="row">Neighborhood:</th>
            <td>{{ photo.neighborhood.name }}</td></tr>
        <tr><th scope="row">File format:</th>
            <td>{{ photo.file_format }}</td></tr>
        <tr><th scope="row">Latitude:</th>
            <td>{{ photo.latitude }}</td></tr>
        <tr><th scope="row">Longitude:</th>
            <td>{{ photo.longitude }}</td></tr>
        <tr><th scope="row">Dimensions:</th>
            <td>{{ photo.width_pixels }} x {{ photo.height_pixels }} (photo.aspect_format)</td></tr>
        <tr><th scope="row">Scene type:</th>
            <td>{{ photo.scene_type }}</td></tr>
        <tr><th scope="row">Business type:</th>
            <td>{{ photo.business_type }}</td></tr>
        <tr><th scope="row">Other labels:</th>
            <td>{{ photo.other_labels }}</td></tr>
        <tr><th scope="row">Extracted text:</th>
            <td>{{ photo.extracted_text_formatted|safe }}</td></tr>
    </tbody>
</table>

{% else %}
<p>No photo data</p>
{% endif %}

{% if exception %}
<h5>Exception: {{ exception }}</h5>
<p><b>vars(request):</b></p>
<p>Data dump: {{ dump }}</p>
{% endif %}

{% endblock %}