{% extends 'manage.html' %}

{% block body %}

{% if photo %}
<p></p>
{% if prev_photo_id %}
    <a href="/lockdownsf/manage/photo_view/{{ prev_photo_id }}/" class="navigate">&#8249;</a>
{% endif %}
<img src="https://lockdownsf.s3.amazonaws.com/{{ photo.album.s3_dir }}/{{ photo.file_name }}">
{% if next_photo_id %}
    <a href="/lockdownsf/manage/photo_view/{{ next_photo_id }}/" class="navigate">&#8250;</a>
{% endif %}

<!-- <div id="miniGmap"></div> -->
<p></p>

<h4>Editable fields:</h4>
<form action="/lockdownsf/manage/photo_edit/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="photo-id" value="{{ photo.id }}">
    <input type="hidden" id="update-description-flag" name="update-description-flag" value="">
    <input type="hidden" id="update-tags-flag" name="update-tags-flag" value="">
    <table class="table table-hover table-fit">
        <tr><th scope="row">Description:</th>
            <td id="description-display-cell">
                <div id="description-display" onclick="makeDescriptionEditable()">
                {% if photo.description %}
                    {{ photo.description }}
                {% else %}
                    [+]
                {% endif %}
                </div></td>
            <td id="description-input-cell" class="hidden-block">
                <input type="text" id="description-input" class="form-control" name="description" value="{{ photo.description }}">
            </td>
        </tr>
        <tr><th scope="row">Tags:</th>
            <td id="tag-display-cell">
                <div id="tag-display" onclick="makeTagsEditable()">
                {% if photo.tags.all %}
                    <ul>
                    {% for tag in photo.tags.all %}
                        <li {% if tag.status == 'DISABLED' %} class="text-muted" {% endif %}>{{ tag.name }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    [+]
                {% endif %}
                </div></td>
            <td id="tag-checkbox-cell" class="hidden-block">
                {% for tag in all_tags %}
                <div class="form-group custom-control custom-checkbox">
                    <input type="checkbox" id="tag-{{ tag.id }}" class="custom-control-input" name="tag-ids" value="{{ tag.id }}"
                    {% if tag in photo.tags.all %} checked="" {% endif %}>
                    <label class="custom-control-label {% if tag.status == 'DISABLED' %} text-muted {% endif %}" 
                        for="tag-{{ tag.id }}">{{ tag.name }}</label>
                </div>
                {% endfor %} 
            </td>
        </tr>
        <tr><td id="submit-cell" class="hidden-block" colspan="2">
            <input id="submit-buttom" type="submit" value="Update" class="btn btn-secondary"></td></tr>
    </table>
</form>

<h4>Automagic fields:</h4>
<table class="table table-hover table-fit">
    <tbody>
        <tr><th scope="row">File name:</th>
            <td>{{ photo.file_name }}</td></tr>
        <tr><th scope="row">Album:</th>
            <td><a href="/lockdownsf/manage/album_view/{{ photo.album.id }}/">{{ photo.album.name }}</a></td></tr>
        <tr><th scope="row">Date taken:</th>
            <td>{{ photo.dt_taken }}</td></tr>
        <tr><th scope="row">Date added:</th>
            <td>{{ photo.dt_inserted }}</td></tr>
        <tr><th scope="row">Date updated:</th>
            <td>{{ photo.dt_updated }}</td></tr>
        <tr><th scope="row">File format:</th>
            <td>{{ photo.mime_type }}</td></tr>
        <tr><th scope="row">Latitude:</th>
            <td>{% if photo.latitude %} {{ photo.latitude }} {% endif %}</td></tr>
        <tr><th scope="row">Longitude:</th>
            <td>{% if photo.longitude %} {{ photo.longitude }} {% endif %}</td></tr>
        <tr><th scope="row">Dimensions:</th>
            <td>{{ photo.width }} x {{ photo.height }}</td></tr>
        <tr><th scope="row">Status:</th>
            <td>{{ photo.status }}</td></tr>
        <tr><th scope="row">Extracted text:</th>
            <form action="/lockdownsf/manage/extract_ocr_text/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="request-scope" value="photo">
                <input type="hidden" name="object-id" value="{{ photo.id }}">
                <td>
                    {% if photo.extracted_text_display %}
                    <small>{{ photo.extracted_text_display|linebreaks }}</small>
                    <input type="submit" value="Regenerate OCR text" class="btn btn-secondary">
                    {% else %}
                    <input type="submit" value="Extract OCR text" class="btn btn-secondary">
                    {% endif %}
                </td>
            </form>
        </tr>
    </tbody>
</table>


{% else %}
<div class="alert alert-warning">
    <h5>No photo found matching photo_id <strong>{{ photo_id }}</strong></h5>
</div>
{% endif %}

{% if exception %}
<div class="alert alert-danger">
    <h5><strong>Exception:</strong> {{ exception }}</h5>
    <p>Data dump: {{ dump }}</p>
</div>
{% endif %}

{% endblock %}