{% extends 'admin.html' %}

{% block body %}
<h4 id="status">Select a photo</h4>

<div class="form-group">
    <input type="file" class="form-control-file" id="img-file-path" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Choose an image file from your desktop before initializing upload, EXIF data extraction, OCR analysis, cropping, and tagging.</small>
</div>
<input type="button" id="init-upload-photo" class="hidden-button btn btn-secondary my-2 my-sm-0" value="Init upload photo"/>
<br/><br/>
<img id="preview" width="1000"/>

<form method="POST" action="/lockdownsf/admin/save_photo/">
    {% csrf_token %}
    <!-- hidden input fields -->
    <input type="hidden" name="request-origin-template" id="request-origin-template" value="photo_select.html"/>
    <input type="hidden" name="photo-file-name" id="photo-file-name"/>
    <input type="hidden" name="photo-uuid" id="photo-uuid" value="{{ photo_uuid }}"/>
    <input type="hidden" name="photo-file-path" id="photo-file-path"/>
    <input type="hidden" name="photo-date-taken" id="photo-date-taken"/>
    <input type="hidden" name="photo-file-format" id="photo-file-format"/>
    <input type="hidden" name="photo-latitude" id="photo-latitude"/>
    <input type="hidden" name="photo-longitude" id="photo-longitude"/>
    <input type="hidden" name="photo-width" id="photo-width"/>
    <input type="hidden" name="photo-height" id="photo-height"/>
    <!-- displayed uneditable fields -->
    <table id="img-properties"  class="table table-hover hidden-block">
        <tbody>
            <tr><th scope="row">Source file name:</th>
                <td><span id="photo-file-name-display"></span></td></tr>
            <tr><th scope="row">Assigned UUID:</th>
                <td><span id="photo-uuid-display" value="{{ photo_uuid }}">{{ photo_uuid }}</span></td></tr>
            <tr><th scope="row">Stored file path:</th>
                <td><span id="photo-file-path-display"></span></td></tr>
            <tr><th scope="row">Date taken:</th>
                <td><span id="photo-date-taken-display"></span></td></tr>
            <tr><th scope="row">File format:</th>
                <td><span id="photo-file-format-display"></span></td></tr>
            <tr><th scope="row">Latitude:</th>
                <td><span id="photo-lat-degree"></span>&deg;
                    <span id="photo-lat-minute"></span>'
                    <span id="photo-lat-second"></span>"
                    <span id="photo-lat-direction"></span>
                    (<span id="photo-latitude-display"></span>)</td></tr>
            <tr><th scope="row">Longitude:</th>
                <td><span id="photo-lng-degree"></span>&deg;
                    <span id="photo-lng-minute"></span>'
                    <span id="photo-lng-second"></span>"
                    <span id="photo-lng-direction"></span>
                    (<span id="photo-longitude-display"></span>)</td></tr>
            <tr><th scope="row">Width:</th>
                <td><span id="photo-width-display"></span> px</td></tr>
            <tr><th scope="row">Height:</th>
                <td><span id="photo-height-display"></span> px</td></tr>
            <tr><th scope="row">Aspect format:</th>
                <td><select id="photo-aspect-format" class="form-control" name="photo-aspect-format">
                        <option value="none">* optional *</option>
                    {% for aspect_format in all_aspect_formats %}
                        <option value="{{ aspect_format }}">{{ aspect_format }}</option>
                    {% endfor %} 
                </select></td></tr>
            <tr><th scope="row">Neighborhood:</th>
                <td><select id="photo-neighborhood-slug" class="form-control" name="photo-neighborhood-slug">
                        <option value="none">* required *</option>
                    {% for neighorhood in all_neighborhoods %}
                        <option value="{{ neighorhood.slug }}">{{ neighorhood.name }}</option>
                    {% endfor %} 
                </select></td>
            </tr>
            <tr><th scope="row">Scene type:</th>
                <td><select id="photo-scene-type" class="form-control" name="photo-scene-type">
                        <option value="none">* required *</option>
                    {% for scene_type in all_scene_types %}
                        <option value="{{ scene_type }}">{{ scene_type }}</option>
                    {% endfor %} 
                </select></td>
            </tr>
            <tr><th scope="row">Business type:</th>
                <td><select id="photo-business-type" class="form-control" name="photo-business-type">
                    <option value="none">* optional *</option>
                {% for business_type in all_business_types %}
                    <option value="{{ business_type }}">{{ business_type }}</option>
                {% endfor %} 
                </select></td>
            </tr>
            <tr><th scope="row">Other labels:</th>
                <td><input type="text" id="photo-other-labels" class="form-control" name="photo-other-labels"/></td></tr>
            <tr><th scope="row"></th>
                <td><input type="submit" value="Save photo"/></td></tr>
        </tbody>
    </table>
</form>
{% endblock %}