<!DOCTYPE html>
<html>
    <head>
        <title>SF Lockdown Photos</title>
        <meta name="google-signin-client_id" content="656115714274-r8mllgbe6t01iba59b2ab93un487n37i.apps.googleusercontent.com">

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }

            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        </script>
    </head>

    <body>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" onclick="signOut();">Sign out</a>

        {% if albums %}
        <ul>
            {% for album in albums %}
            <li>{{ album.id }} = {{ album.title }}
                {% if album.photos %}}
                <ul>
                    {% for photo in album.photos %}
                    <li>{{ photo.id }} = {{ photo.filename }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>


        

        